body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f1f5f9;
}

.login-container{
width:450px;
background:white;
padding:50px;
border-radius:25px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.login-container h1{
text-align:center;
margin-bottom:30px;
color:#2563eb;
}

.input-group{
margin-bottom:20px;
}

.input-group input{
width:100%;
padding:15px;
border:1px solid #cbd5e1;
border-radius:12px;
}

.login-btn{
width:100%;
padding:15px;
border:none;
background:#2563eb;
color:white;
border-radius:12px;
cursor:pointer;
font-size:16px;
}

.login-btn:hover{
background:#1d4ed8;
}